<!DOCTYPE html>
<html>

<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#menu {
    float:left;
    padding: 5px;
}
</style>
</head>

<div id="header">
<h1>猜你喜欢</h1>
</div>

            
        
<div class="recommendations-bd">
    <dl class="" id="menu">
        <dt>
            <a href="https://movie.douban.com/subject/25980443/?from=subject-page" >
                <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2421855655.webp" alt="海边的曼彻斯特" class="" />
            </a>
        </dt>
        <dd>
            <a href="https://movie.douban.com/subject/25980443/?from=subject-page" class="" >海边的曼彻斯特</a>
        </dd>
    </dl>
    <dl class="" id="menu">
        <dt>
            <a href="https://movie.douban.com/subject/25958717/?from=subject-page" >
                <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2332944143.webp" alt="海蒂和爷爷" class="" />
            </a>
        </dt>
        <dd>
            <a href="https://movie.douban.com/subject/25958717/?from=subject-page" class="" >海蒂和爷爷</a>
        </dd>
    </dl>
    <dl class="" id="menu">
        <dt>
            <a href="https://movie.douban.com/subject/26628357/?from=subject-page" >
                <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2406624993.webp" alt="一个叫欧维的男人决定去死" class="" />
            </a>
        </dt>
        <dd>
            <a href="https://movie.douban.com/subject/26628357/?from=subject-page" class="" >一个叫欧维的男人决定去死</a>
        </dd>
    </dl>
    <dl class="" id="menu">
        <dt>
            <a href="https://movie.douban.com/subject/25895901/?from=subject-page" >
                <img src="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2232247487.webp" alt="海街日记" class="" />
            </a>
        </dt>
        <dd>
            <a href="https://movie.douban.com/subject/25895901/?from=subject-page" class="" >海街日记</a>
        </dd>
    </dl>
    <dl class="" id="menu">
        <dt>
            <a href="https://movie.douban.com/subject/25834735/?from=subject-page" >
                <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2341555072.webp" alt="神奇队长" class="" />
            </a>
        </dt>
        <dd>
            <a href="https://movie.douban.com/subject/25834735/?from=subject-page" class="" >神奇队长</a>
        </dd>
    </dl>

     <dl class="" id="menu">
            <dt>
                <a href="https://movie.douban.com/subject/25724855/?from=subject-page" >
                    <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2259715855.webp" alt="房间" class="" />
                </a>
            </dt>
            <dd>
                <a href="https://movie.douban.com/subject/25724855/?from=subject-page" class="" >房间</a>
            </dd>
        </dl>
        <dl class="" id="menu">
            <dt>
                <a href="https://movie.douban.com/subject/26421442/?from=subject-page" >
                    <img src="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2370019558.webp" alt="滚烫的爱" class="" />
                </a>
            </dt>
            <dd>
                <a href="https://movie.douban.com/subject/26421442/?from=subject-page" class="" >滚烫的爱</a>
            </dd>
        </dl>
        <dl class="" id="menu">
            <dt>
                <a href="https://movie.douban.com/subject/26694988/?from=subject-page" >
                    <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2342671303.webp" alt="比海更深" class="" />
                </a>
            </dt>
            <dd>
                <a href="https://movie.douban.com/subject/26694988/?from=subject-page" class="" >比海更深</a>
            </dd>
        </dl>
        <dl class="" id="menu">
            <dt>
                <a href="https://movie.douban.com/subject/26220650/?from=subject-page" >
                    <img src="https://img1.doubanio.com/view/movie_poster_cover/lpst/public/p2333848819.webp" alt="雄狮" class="" />
                </a>
            </dt>
            <dd>
                <a href="https://movie.douban.com/subject/26220650/?from=subject-page" class="" >雄狮</a>
            </dd>
        </dl>
        <dl class="" id="menu">
            <dt>
                <a href="https://movie.douban.com/subject/26586432/?from=subject-page" >
                    <img src="https://img3.doubanio.com/view/movie_poster_cover/lpst/public/p2369390663.webp" alt="契克" class="" />
                </a>
            </dt>
            <dd>
                <a href="https://movie.douban.com/subject/26586432/?from=subject-page" class="" >契克</a>
            </dd>
        </dl>
</div>

</html>